# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.map

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# L10n Monster files
/cli/bin/
.l10nmonster/
regression/wd/
samples/*/translationJobs/
samples/*/debugTraffic/
**/l10nOps/*
**/l10njobs/**
